<div id="<%= dom_id register %>">
  <p>
    <strong>PDF Code:</strong>
    <%= register.cdgpdf %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= register.ref %>
  </p>

  <p>
    <strong>From:</strong>
    <%= register.autorcargo %>
  </p>

  <p>
    <strong>To:</strong>
    <%= register.destinatariocargo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= register.titulo %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= register.local %>
  </p>

  <p>
    <strong>Date 1:</strong>
    <%= register.data1 %>
  </p>

  <p>
    <strong>Date 2:</strong>
    <%= register.data2 %>
  </p>

  <p>
    <strong>Date 3:</strong>
    <%= register.data3 %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= register.acesso %>
  </p>

<p>
    <strong>Comment:</strong>
    <%= register.obs %>
  </p>

</div>
