<div id="<%= dom_id building %>">
  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= building.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= building.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= building.country %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= building.description %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= building.average_rating %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= building.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= building.longitude %>
  </p>

</div>
