<p style="color: green"><%= notice %></p>

<%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>

<h1>Search</h1>
<div id="search">
  <%= form_tag buildings_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search buildings" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<h1>Buildings</h1>

<div id="buildings">
  <% @buildings.each do |building| %>
    <%= render building %>
    <p>
      <%= link_to "Show this building", building %>
    </p>
  <% end %>
</div>

<%= link_to "New building", new_building_path %>
