<p style="color: green"><%= notice %></p>

<%= render @building %>

<div>
  <p><strong>Description:</strong> <%= @building.description %></p>

  <% if @building.image? %>
    <%= image_tag @building.image.url %>
  <% end %>
  
  <p>Average rating: <%= @building.average_rating %></p>

  <%= link_to "Edit this building", edit_building_path(@building) %> |
  <%= link_to "Back to buildings", buildings_path %>

  <%= button_to "Delete this building", @building, method: :delete %>
</div>
